@model CRMConnect.Models.CommunicationLog

@{
    ViewData["Title"] = "Delete Communication Log";
}

<h2>@ViewData["Title"]</h2>

<p>Are you sure you want to delete this communication log?</p>

<div>
    @if (Model.Customer?.Name != null)
    {
        <strong>Customer:</strong> @Model.Customer.Name
    
        <br />
    }

    @if (Model.User?.Username != null)
    {
        <strong>User:</strong> @Model.User.Username
    
        <br />
    }

    <strong>Communication Type:</strong> @Model.CommunicationType <br />
    <strong>Notes:</strong> @Model.Notes <br />
    <strong>Date:</strong> @Model.Date <br />
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("IndexCommunication", "CommunicationLog")" class="btn btn-secondary">Cancel</a>
</form>
